@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}

.app {
    background-color: #343541;
    display: flex;
}

.sidebar {
    background-color: #202123;
    height: 100vh;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: solid 0.5px rgba(255, 255, 255,  0.5);
    background-color: transparent;
    border-radius: 5px;
    margin:10px;
    padding: 10px;
}

nav {
    border-top: solid 0.5px rgba(255, 255, 255,  0.5);
    margin:10px;
    padding: 10px;
}

.history {
    margin:10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255,  0.2);
    font-size: 11px;
    padding: 10px;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 650px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255,  0.5);
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
    rgba(0,0,0,0.05) 0 -12px 30px,
    rgba(0,0,0,0.05) 0 4px 6px,
    rgba(0,0,0,0.05) 0 12px 3px,
    rgba(0,0,0,0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit{
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}

.feed{
    overflow: scroll;
    width: 100%;
    padding:0;
}

.feed li {
    display: flex;
    background-color: #444654;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}

.feed p {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    text-align: left;
}

.feed p.role {
    min-width: 100px;
}